$c-white: #fff;
$c-orange: #F36F36;
$c-green: #2E6955;
$c-blue: #2F62AD;
$c-black: #2D2D2D;
$c-light-black: #434343;
$c-dark-grey: #999C9E;
$c-dark-white: #F4F6F7;
$c-light-gray: #E8E8E8;
$c-dark-black: #000;
$c-grey: #CDD0D2;

$c-font-main: $c-black;

$c-bg-layout-white: $c-white;
$c-bg-layout-dark-white: $c-dark-white;

$c-bg-header: $c-dark-white;
$c-font-header: $c-light-black;
$c-font-lang-header: $c-dark-grey;

$c-bg-btn: $c-black;
$c-font-btn: $c-dark-white;

$c-font-banner: $c-white;

$c-bg-product-desc: $c-white;
$c-border-product-desc: $c-light-gray;
$c-font-accordion: $c-light-black;
$c-icon-accordion: $c-light-black;

$c-font-footer: $c-dark-black;
$c-font-footer-transparent: $c-dark-grey;
$c-font-footer-grey: $c-grey;
$c-border-footer: $c-grey;

$c-border-header-mobile: $c-grey;
$c-icon-header-mobile: $c-black;
$c-font-header-mobile: $c-light-black;
$c-border-header-mobile-white: $c-light-gray;
